@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shered style */
.btn-primary {
      font-weight: 600;
    font-size: 1.25rem;
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}

.display-flex {
    display: flex;
}
/* dark-02 */
.text-gray {
    color: #424242;
}
/* dark-03 */
.text-light-gray {
    color: #727272;
}
.bg-light {
   background-color: #ff8f0e27;
}
/* header style */



/* navbar related style */

.navbar {
    align-items: center;
  justify-content: space-between;
}

.nav-item {
   list-style: none;
   margin-right: 30px;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.brand {
    font-weight: 700px;
    font-size: 3rem;
}


/* banner style */

.banner-content {
     max-width: 850px;
     margin: 0 auto;
     text-align: center;
     margin-bottom: 50px;
}

.banner-title {
    font-weight: 700px;
    font-size: 4rem;
}
.banner-images {
    width: 100%;
}

/* responsive midea qeary */
@media screen and (max-width:576px) {
    .navbar, .nav-links {
        flex-direction: column;
    }
}